@import '../../index.css';
.Experience {
    padding: 30px;
    border-radius: 10px;
    transition: 0.5s;
    background: var(--white-5);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    outline: 1px solid var(--white-5);
}

.Experience:hover {
    background: var(--glasstilecolor);
    outline: 1px solid var(--white-30);
    transform: translateY(-1px);
}

.Experience .header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.Experience .logo-container {
    width: 50px;
    height: 50px;
    font-display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 15px;
}

.Experience .logo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.Experience .header p {
    font-weight: 600;
    color: var(--white-100);
}

.Experience p.period {
    margin-bottom: 20px;
    font-weight: 500;
    color: var(--bluehighlights);
}

@media ( max-width: 379px) {
    .Experience {
        padding: 20px 15px;
    }
}