@import './index.css';
.App {
    width: 100%;
    min-height: 100dvh;
    position: relative;
    overflow: hidden;
}

.main-content {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.main-content.page-transitioning {
    opacity: 0;
}